/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}
@media (max-width: 1281px) {
  html {
    overflow-x: hidden;
  }
}

header a i {
  color: #000;
}
header section .tbc {
  margin-top: 20px;
  margin-left: 670px;
  display: flex;
  width: 100px;
}
@media (max-width: 1281px) {
  header section .tbc {
    margin-left: 619px;
  }
}
@media (max-width: 769px) {
  header section .tbc {
    margin-left: 340px;
  }
}
@media (max-width: 481px) {
  header section .tbc {
    margin-left: 160px;
  }
}
header section .tbc .tbc1 {
  width: 100px;
  margin-left: 20px;
}
header section .tbc .tbc1:hover {
  width: 110px;
  border-bottom: 2px solid cyan;
}
header section .header1 {
  padding: 30px;
  display: inline-block;
}
@media (max-width: 769px) {
  header section .header1 {
    display: block;
    margin-left: 80px;
  }
}
@media (max-width: 481px) {
  header section .header1 {
    margin-left: 0px;
    padding: 10px;
  }
}
header section .header1 h1 {
  display: inline-block;
  font-style: normal;
  color: black;
  font-size: 28px;
  margin-left: 10px;
  margin-right: 50px;
}
@media (max-width: 481px) {
  header section .header1 h1 {
    font-size: 20px;
    margin-right: 25px;
    margin-left: 0px;
  }
}
header section .header1 .phone {
  margin-left: 10px;
  font-size: 15px;
}
@media (max-width: 481px) {
  header section .header1 .phone {
    font-size: 15px;
    margin-left: 0px;
  }
}
header section .header2 {
  display: inline-block;
  width: 630px;
  margin-left: 230px;
  height: 50px;
}
@media (max-width: 1281px) {
  header section .header2 {
    width: 580px;
    margin-left: 30px;
  }
}
@media (max-width: 769px) {
  header section .header2 {
    margin-left: 80px;
    width: 600px;
  }
}
@media (max-width: 481px) {
  header section .header2 {
    width: 480px;
    margin-left: 0px;
  }
}
header section .header2 .childheader2 {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  height: 50px;
}
@media (max-width: 481px) {
  header section .header2 .childheader2 {
    justify-content: space-evenly;
    margin-top: 20px;
    font-size: 14.5px;
    flex-wrap: wrap;
  }
}
header section .header2 .childheader2 i {
  margin-top: 10px;
}
header section .header2 .childheader2 .home {
  color: black;
}
header section .header2 .childheader2 .home:hover {
  font-size: 20px;
  border-bottom: 2px solid cyan;
  margin-bottom: 25px;
  opacity: 1;
}
@media (max-width: 481px) {
  header section .header2 .childheader2 .home:hover {
    font-size: 15px;
  }
}
header section .header2 .childheader2 .a {
  border-bottom: 2px solid cyan;
}
header section .header2 .childheader2 .icon:hover {
  font-size: 20px;
}
@media (max-width: 481px) {
  header section .header2 .childheader2 h1 {
    margin-right: 23px;
  }
}

main {
  background-color: #b6d8b0;
}
@media (max-width: 769px) {
  main {
    margin-top: 121px;
  }
}
main .mainmain {
  display: flex;
  margin-top: 90px;
}
@media (max-width: 481px) {
  main .mainmain {
    flex-wrap: wrap;
  }
}
main .mainmain .main {
  background-color: #EBF3F5;
  width: 800px;
  height: 600px;
  display: inline-block;
}
@media (max-width: 769px) {
  main .mainmain .main {
    width: 400px;
    height: 500px;
  }
}
@media (max-width: 481px) {
  main .mainmain .main {
    width: 480px;
    height: 450px;
  }
}
main .mainmain .main .main1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .mainmain .main .main1 .child-main1 {
  display: flex;
  margin-top: 100px;
  color: #58692C;
  margin-left: 220px;
}
@media (max-width: 769px) {
  main .mainmain .main .main1 .child-main1 {
    margin-left: 20px;
  }
}
main .mainmain .main .main1 .child-main1 h1 {
  margin-right: 5px;
}
main .mainmain .main .main1 .child-main1 i {
  margin-right: 6px;
  margin-top: 5px;
}
main .mainmain .main .maintxt {
  font-size: 65px;
  width: 450px;
  margin-left: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (max-width: 769px) {
  main .mainmain .main .maintxt {
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 25px;
    margin-left: 10px;
  }
}
@media (max-width: 481px) {
  main .mainmain .main .maintxt {
    margin-left: 50px;
  }
}
main .mainmain .main .child-maintxt {
  margin-left: 300px;
  margin-top: 20px;
}
@media (max-width: 769px) {
  main .mainmain .main .child-maintxt {
    margin-left: 50px;
  }
}
main .mainmain .main2 {
  background-color: rgb(6, 39, 40);
  background-image: url(../img/background.png);
  width: 800px;
  height: 600px;
  display: inline-block;
}
@media (max-width: 769px) {
  main .mainmain .main2 {
    height: 500px;
    width: 400px;
  }
}
@media (max-width: 481px) {
  main .mainmain .main2 {
    width: 480px;
  }
}
main .mainmain .main2 img {
  border-radius: 20px;
  width: 400px;
  height: 400px;
  margin-top: 80px;
}
@media (max-width: 769px) {
  main .mainmain .main2 img {
    height: 300px;
    width: 300px;
  }
}
@media (max-width: 481px) {
  main .mainmain .main2 img {
    margin-left: 74px;
  }
}
main section .images {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
@media (max-width: 769px) {
  main section .images {
    flex-wrap: wrap;
    margin-right: 100px;
    margin-left: 100px;
  }
}
main section .images img {
  border-radius: 150px;
}
@media (max-width: 769px) {
  main section .images img {
    margin-top: 90px;
  }
}
main section .images .healthyfood {
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
main section .images .txt1 {
  width: 300px;
  color: #555555;
  margin-left: 90px;
  margin-bottom: 5px;
}
@media (max-width: 769px) {
  main section .images .txt1 {
    margin-left: 50px;
  }
}
main section .images .txt1:hover {
  font-size: 20px;
}
main section .images .Workout {
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
main section .images .txt2 {
  width: 335px;
  color: #555555;
  margin-left: 15px;
  margin-bottom: 18px;
}
main section .images .txt2:hover {
  font-size: 20px;
}
main section .images .sleep {
  font-size: 25px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
main section .images .txt3 {
  width: 250px;
  color: #555555;
  margin-bottom: 15px;
  margin-left: 80px;
}
@media (max-width: 769px) {
  main section .images .txt3 {
    margin-left: 70px;
  }
}
main section .images .txt3:hover {
  font-size: 20px;
}
main section .images #Submit {
  width: 120px;
  height: 40px;
  border-color: #5C8692;
  margin-top: 10px;
  margin-left: 100px;
  cursor: pointer;
}
main section .images #Submit:hover {
  margin-top: 20px;
  background-color: #c9c9c9;
}
main .mainmain2 {
  display: flex;
  margin-top: 90px;
}
@media (max-width: 769px) {
  main .mainmain2 {
    display: block;
  }
}
main .mainmain2 .main {
  background-color: #EBF3F5;
  width: 800px;
  height: 600px;
  display: inline-block;
}
@media (max-width: 1281px) {
  main .mainmain2 .main {
    width: 580px;
  }
}
@media (max-width: 769px) {
  main .mainmain2 .main {
    width: 751px;
    height: 500px;
  }
}
main .mainmain2 .main .main1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 481px) {
  main .mainmain2 .main .main1 {
    width: 480px;
  }
}
main .mainmain2 .main .main1 .healthyh1 {
  margin-top: 50px;
  margin-left: 220px;
}
main .mainmain2 .main .main1 .healthyh1 h1 {
  font-size: 30px;
  margin-bottom: 40px;
  margin-left: 90px;
}
@media (max-width: 481px) {
  main .mainmain2 .main .main1 .healthyh1 h1 {
    margin-left: 45px;
  }
}
main .mainmain2 .main .main1 .healthyh1 p {
  margin-right: 200px;
}
@media (max-width: 481px) {
  main .mainmain2 .main .main1 .healthyh1 p {
    width: 444px;
    margin-left: 33px;
  }
}
main .mainmain2 .main .main1 .healthyh1 .child-main2 {
  display: flex;
  color: #58692C;
  margin-left: 100px;
}
@media (max-width: 1281px) {
  main .mainmain2 .main .main1 .healthyh1 .child-main2 {
    margin-left: 0px;
  }
}
@media (max-width: 481px) {
  main .mainmain2 .main .main1 .healthyh1 .child-main2 {
    margin-left: 60px;
  }
}
main .mainmain2 .main .main1 .healthyh1 .child-main2 h3 {
  margin-right: 5px;
  font-size: 15px;
  margin-top: 50px;
  margin-bottom: 50px;
}
main .mainmain2 .main .main1 .healthyh1 .child-main2 i {
  margin-top: 55px;
  margin-right: 5px;
}
main .mainmain2 .main .main1 .healthyh1 .icons {
  display: flex;
  margin-top: 50px;
  width: 500px;
  justify-content: space-around;
  margin-right: 325px;
}
@media (max-width: 1281px) {
  main .mainmain2 .main .main1 .healthyh1 .icons {
    margin-right: 200px;
  }
}
@media (max-width: 769px) {
  main .mainmain2 .main .main1 .healthyh1 .icons {
    justify-content: space-between;
  }
}
@media (max-width: 481px) {
  main .mainmain2 .main .main1 .healthyh1 .icons {
    justify-content: space-evenly;
    margin-top: 20px;
  }
}
main .mainmain2 .main .main1 .healthyh1 .icons .foodicon {
  background-color: white;
  border: 1px solid #7A9CA5;
  border-radius: 10px;
  width: 100px;
  height: 100px;
}
main .mainmain2 .main .main1 .healthyh1 .icons .foodicon img {
  margin-left: 25px;
  margin-top: 5px;
}
main .mainmain2 .main .main1 .healthyh1 .icons .foodicon h3 {
  margin-left: 30px;
  margin-top: 5px;
}
main .mainmain2 .main .main1 .healthyh1 .icons .workouticon {
  background-color: white;
  border: 1px solid #7A9CA5;
  border-radius: 10px;
  width: 100px;
  height: 100px;
}
main .mainmain2 .main .main1 .healthyh1 .icons .workouticon img {
  margin-left: 25px;
  margin-top: 5px;
}
main .mainmain2 .main .main1 .healthyh1 .icons .workouticon h3 {
  margin-left: 18px;
  margin-top: 5px;
}
main .mainmain2 .main .main1 .healthyh1 .icons .sleepicon {
  background-color: white;
  border: 1px solid #7A9CA5;
  border-radius: 10px;
  width: 100px;
  height: 100px;
}
main .mainmain2 .main .main1 .healthyh1 .icons .sleepicon img {
  margin-left: 25px;
  margin-top: 5px;
}
main .mainmain2 .main .main1 .healthyh1 .icons .sleepicon h3 {
  margin-left: 30px;
  margin-top: 5px;
}
main .mainmain2 .runner {
  background-color: #EBF3F5;
  width: 800px;
  height: 600px;
  display: inline-block;
}
@media (max-width: 769px) {
  main .mainmain2 .runner {
    width: 751px;
  }
}
@media (max-width: 481px) {
  main .mainmain2 .runner {
    width: 480px;
    height: 500px;
  }
}
main .mainmain2 .runner .runner1 {
  width: 600px;
  height: 500px;
  margin-top: 60px;
  margin-left: 50px;
  border-radius: 30px;
}
@media (max-width: 769px) {
  main .mainmain2 .runner .runner1 {
    margin-left: 100px;
  }
}
@media (max-width: 481px) {
  main .mainmain2 .runner .runner1 {
    margin-left: 5px;
    width: 450px;
    height: 400px;
    margin-top: 30px;
  }
}
main section .main3txt {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  flex-direction: column;
  align-items: center;
}
main section .main3txt h1 {
  font-size: 40px;
}
@media (max-width: 481px) {
  main section .main3txt h1 {
    font-size: 20px;
  }
}
main section .mainworkaoutman {
  display: flex;
}
main section .mainworkaoutman .workoutman {
  margin-left: 350px;
  margin-top: 100px;
  display: inline-block;
}
@media (max-width: 1281px) {
  main section .mainworkaoutman .workoutman {
    margin-left: 250px;
  }
}
@media (max-width: 769px) {
  main section .mainworkaoutman .workoutman {
    margin-left: 40px;
  }
}
@media (max-width: 481px) {
  main section .mainworkaoutman .workoutman {
    margin-left: 0px;
  }
}
main section .mainworkaoutman .workoutman img {
  width: 400px;
  height: 450px;
  border: 25px solid #5C8692;
}
@media (max-width: 481px) {
  main section .mainworkaoutman .workoutman img {
    width: 300px;
    height: 350px;
  }
}
main section .mainworkaoutman .list {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  margin-left: 100px;
}
@media (max-width: 481px) {
  main section .mainworkaoutman .list {
    font-size: 14px;
    margin-left: 3px;
  }
}
main section .mainworkaoutman .list #Submit2 {
  width: 120px;
  height: 40px;
  border-color: #5C8692;
  margin-left: 30px;
  cursor: pointer;
}
main section .mainworkaoutman .list #Submit2:hover {
  background-color: #c9c9c9;
}
main section .mainworkaoutwoman {
  display: flex;
  height: 430px;
}
main section .mainworkaoutwoman .list2 {
  display: flex;
  margin-top: 10px;
  margin-left: 350px;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
}
@media (max-width: 1281px) {
  main section .mainworkaoutwoman .list2 {
    margin-left: 250px;
  }
}
@media (max-width: 769px) {
  main section .mainworkaoutwoman .list2 {
    margin-left: 40px;
  }
}
@media (max-width: 481px) {
  main section .mainworkaoutwoman .list2 {
    margin-left: 0px;
    font-size: 14px;
  }
}
main section .mainworkaoutwoman .list2 #Submit2 {
  width: 120px;
  height: 40px;
  border-color: #5C8692;
  margin-left: 50px;
  cursor: pointer;
}
main section .mainworkaoutwoman .list2 #Submit2:hover {
  background-color: #c9c9c9;
}
main section .mainworkaoutwoman .workoutwoman {
  display: inline-block;
  margin-left: 142px;
}
@media (max-width: 481px) {
  main section .mainworkaoutwoman .workoutwoman {
    margin-left: 0px;
  }
}
main section .mainworkaoutwoman .workoutwoman img {
  width: 400px;
  height: 410px;
  border: 25px solid #5C8692;
}
@media (max-width: 481px) {
  main section .mainworkaoutwoman .workoutwoman img {
    width: 300px;
    height: 350px;
  }
}
main .mainmain2 {
  display: flex;
  margin-top: 90px;
}
@media (max-width: 769px) {
  main .mainmain2 {
    display: block;
  }
}
main .mainmain2 .mainscience {
  background-color: #EBF3F5;
  width: 1519px;
  height: 600px;
}
@media (max-width: 769px) {
  main .mainmain2 .mainscience {
    width: 751px;
  }
}
main .mainmain2 .mainscience .scienceh1 {
  margin-left: 500px;
  font-size: 40px;
  margin-top: 100px;
}
@media (max-width: 1281px) {
  main .mainmain2 .mainscience .scienceh1 {
    margin-left: 450px;
  }
}
@media (max-width: 769px) {
  main .mainmain2 .mainscience .scienceh1 {
    margin-left: 205px;
    font-size: 35px;
  }
}
@media (max-width: 481px) {
  main .mainmain2 .mainscience .scienceh1 {
    font-size: 25px;
    margin-left: 99px;
  }
}
main .mainmain2 .mainscience .science {
  display: flex;
  margin-top: 100px;
}
main .mainmain2 .mainscience .science .sciencetxt {
  margin-right: 50px;
  margin-left: 300px;
  width: 400px;
  background-color: white;
  margin-bottom: 2px;
  display: flex;
}
@media (max-width: 1281px) {
  main .mainmain2 .mainscience .science .sciencetxt {
    margin-left: 250px;
  }
}
@media (max-width: 769px) {
  main .mainmain2 .mainscience .science .sciencetxt {
    margin-left: 50px;
  }
}
@media (max-width: 481px) {
  main .mainmain2 .mainscience .science .sciencetxt {
    margin-left: 0px;
    width: 200px;
  }
}
main .mainmain2 .mainscience .science .sciencetxt P {
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 20px;
}
@media (max-width: 481px) {
  main .mainmain2 .mainscience .science .sciencetxt P {
    font-size: 14px;
  }
}
main .mainmain2 .mainscience .sciencetxt1 {
  width: 400px;
  background-color: white;
  display: flex;
  height: 190px;
}
@media (max-width: 769px) {
  main .mainmain2 .mainscience .sciencetxt1 {
    height: 207px;
  }
}
@media (max-width: 481px) {
  main .mainmain2 .mainscience .sciencetxt1 {
    width: 200px;
    height: auto;
  }
}
main .mainmain2 .mainscience .sciencetxt1 p {
  margin-top: 20px;
  margin-left: 10px;
}
@media (max-width: 481px) {
  main .mainmain2 .mainscience .sciencetxt1 p {
    font-size: 14px;
  }
}
main .mainmain2 .mainscience .scientists {
  display: flex;
}
main .mainmain2 .mainscience .scientists .scientist1 {
  display: flex;
  background-color: #1E2C30;
  width: 400px;
  margin-left: 300px;
}
@media (max-width: 1281px) {
  main .mainmain2 .mainscience .scientists .scientist1 {
    margin-left: 250px;
  }
}
@media (max-width: 769px) {
  main .mainmain2 .mainscience .scientists .scientist1 {
    margin-left: 50px;
  }
}
@media (max-width: 481px) {
  main .mainmain2 .mainscience .scientists .scientist1 {
    width: 200px;
    margin-left: 0px;
  }
}
main .mainmain2 .mainscience .scientists .scientist1 img {
  margin-right: 10px;
}
main .mainmain2 .mainscience .scientists .scientist1 h1 {
  color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 10px;
}
main .mainmain2 .mainscience .scientists .scientist1 h5 {
  color: white;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}
main .mainmain2 .mainscience .scientists .scientist1 .scientist1img {
  width: 50px;
  height: 50px;
  margin-top: 7px;
  margin-left: 20px;
}
main .mainmain2 .mainscience .scientists .scientist2 {
  display: flex;
  background-color: #1E2C30;
  width: 400px;
  margin-left: 50px;
}
@media (max-width: 481px) {
  main .mainmain2 .mainscience .scientists .scientist2 {
    width: 200px;
  }
}
main .mainmain2 .mainscience .scientists .scientist2 img {
  width: 50px;
  height: 50px;
  margin-top: 7px;
  margin-left: 20px;
}
main .mainmain2 .mainscience .scientists .scientist2 h1 {
  color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 20px;
}
main .mainmain2 .mainscience .scientists .scientist2 h5 {
  color: white;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
main .actually h1 {
  display: flex;
  font-size: 35px;
  justify-content: center;
  margin-top: 70px;
}
@media (max-width: 481px) {
  main .actually h1 {
    font-size: 25px;
  }
}
main .actually img {
  width: 60px;
}
main .actually .actually1 {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  justify-content: space-evenly;
}
@media (max-width: 481px) {
  main .actually .actually1 {
    flex-wrap: wrap;
  }
}
main .actually .actually1 h1 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #000;
}
main .actually .actually1 p {
  color: #58692C;
  font-size: 15px;
}
main .actually .actually1 div {
  width: 250px;
  margin-bottom: 60px;
}
main .mainregistration {
  display: flex;
}
@media (max-width: 769px) {
  main .mainregistration {
    display: block;
  }
}
main .mainregistration .registration {
  width: 800px;
  height: 600px;
  background-color: #EBF3F5;
  margin-top: 200px;
  display: flex;
}
@media (max-width: 769px) {
  main .mainregistration .registration {
    height: 400px;
  }
}
main .mainregistration .registration h1 {
  font-size: 40px;
  margin-left: 350px;
  margin-top: 100px;
}
@media (max-width: 769px) {
  main .mainregistration .registration h1 {
    margin-left: 250px;
  }
}
@media (max-width: 481px) {
  main .mainregistration .registration h1 {
    margin-left: 145px;
    font-size: 30px;
  }
}
main .mainregistration .registration .registrationtxt {
  margin-top: 30px;
  width: 400px;
  margin-left: 300px;
}
@media (max-width: 769px) {
  main .mainregistration .registration .registrationtxt {
    width: 600px;
    margin-left: 100px;
  }
}
@media (max-width: 481px) {
  main .mainregistration .registration .registrationtxt {
    width: 342px;
    margin-left: 88px;
  }
}
main .mainregistration .registration .registrationimg {
  display: flex;
  margin-left: 50px;
}
@media (max-width: 481px) {
  main .mainregistration .registration .registrationimg {
    margin-left: 0px;
  }
}
main .mainregistration .registration .registrationcontact {
  width: 300px;
  background-color: white;
  margin-top: 50px;
  margin-left: 150px;
}
@media (max-width: 769px) {
  main .mainregistration .registration .registrationcontact {
    margin-left: 80px;
  }
}
@media (max-width: 481px) {
  main .mainregistration .registration .registrationcontact {
    width: 260px;
    margin-left: 0px;
  }
}
main .mainregistration .registration .registrationcontact div {
  margin-left: 70px;
}
main .mainregistration .registration .registrationcontact h1 {
  font-size: 15px;
  margin-left: 50px;
  margin-top: 50px;
}
main .mainregistration .registration .numh3 {
  margin-bottom: 25px;
}
main .mainregistration .registration .regimg {
  width: 200px;
  height: 200px;
  margin-top: 50px;
}
main .mainregistration .registration2 {
  width: 800px;
  height: 600px;
  background-color: #EBF3F5;
  margin-top: 200px;
  display: flex;
}
@media (max-width: 769px) {
  main .mainregistration .registration2 {
    margin-top: 0px;
  }
}
main .mainregistration .registration2 .reg2 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: white;
  height: 400px;
  margin-top: 100px;
  margin-left: 100px;
  width: 400px;
  border: 3px solid cadetblue;
}
@media (max-width: 769px) {
  main .mainregistration .registration2 .reg2 {
    margin-left: 175px;
  }
}
@media (max-width: 481px) {
  main .mainregistration .registration2 .reg2 {
    margin-left: 32px;
  }
}
main .mainregistration .registration2 .reg2 #reg {
  width: 300px;
  height: 50px;
  border: 3px solid #5C8692;
  background-color: white;
  margin-left: 50px;
}
main .mainregistration .registration2 .reg2 #submitreg {
  width: 300px;
  height: 40px;
  border: 3px solid #5C8692;
  margin-left: 50px;
  margin-top: 50px;
  cursor: pointer;
}
main .mainregistration .registration2 .reg2 #submitreg:hover {
  background-color: #c9c9c9;
}
main .latestupdate .latesth1 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-top: 100px;
}
main .latestupdate .latestimgs {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}
main .latestupdate .latestimgs img {
  width: 220px;
  height: 200px;
  border-radius: 10px;
}
@media (max-width: 481px) {
  main .latestupdate .latestimgs img {
    width: 145px;
    height: 167px;
  }
}
main .latestupdate .latestdescription {
  display: flex;
  justify-content: space-evenly;
}
main .latestupdate .latestdescription div {
  background-color: #c9c9c9;
  width: 220px;
  border-radius: 10px;
}
@media (max-width: 481px) {
  main .latestupdate .latestdescription div {
    width: 147px;
  }
}
main .latestupdate .latestdescription h1 {
  margin-top: 10px;
  font-size: 18px;
  display: flex;
  justify-content: center;
}
main .latestupdate .latestdescription p {
  margin-top: 10px;
  margin-left: 20px;
  color: #58692C;
}
main .latestupdate #submit3 {
  margin-left: 700px;
  margin-top: 50px;
  width: 120px;
  height: 40px;
  border-color: #5C8692;
  margin-bottom: 150px;
  cursor: pointer;
}
main .latestupdate #submit3:hover {
  background-color: #c9c9c9;
}
@media (max-width: 1281px) {
  main .latestupdate #submit3 {
    margin-left: 580px;
  }
}
@media (max-width: 769px) {
  main .latestupdate #submit3 {
    margin-left: 312px;
  }
}
@media (max-width: 481px) {
  main .latestupdate #submit3 {
    margin-left: 174px;
  }
}

footer {
  background-color: #1E2C30;
  width: 1519px;
  height: 400px;
}
@media (max-width: 769px) {
  footer {
    width: 751px;
  }
}
@media (max-width: 481px) {
  footer {
    width: 481px;
  }
}
footer section .footertitle {
  width: 400px;
  display: inline-block;
  margin-left: 250px;
  margin-top: 50px;
}
@media (max-width: 481px) {
  footer section .footertitle {
    margin-left: 118px;
  }
}
footer section .footertitle h1 {
  color: white;
  display: inline-block;
  font-size: 30px;
  margin-left: 10px;
}
footer section .footericon {
  display: inline-block;
  margin-left: 260px;
}
@media (max-width: 769px) {
  footer section .footericon {
    margin-left: 280px;
    margin-top: 20px;
  }
}
@media (max-width: 481px) {
  footer section .footericon {
    margin-left: 135px;
  }
}
footer section .footericon i {
  border: 10px solid red;
  border-radius: 0% 100% 0% 100%;
  margin: 5px;
}
footer section .footericon i:hover {
  font-size: 30px;
}
footer .footerlist {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 769px) {
  footer .footerlist {
    width: 750px;
  }
}
@media (max-width: 481px) {
  footer .footerlist {
    justify-content: flex-start;
  }
}
footer .footerlist .footerlist1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
  color: white;
  margin-top: 50px;
}
@media (max-width: 769px) {
  footer .footerlist .footerlist1 {
    margin-left: 117px;
  }
}
@media (max-width: 481px) {
  footer .footerlist .footerlist1 {
    margin-left: 30px;
  }
}
footer .footerlist .footerlist1 h1 {
  font-size: 25px;
}
footer .footerlist .footerlist2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  height: 200px;
  margin-top: 30px;
  margin-left: 100px;
}
@media (max-width: 481px) {
  footer .footerlist .footerlist2 {
    margin-left: 35px;
  }
}
footer .footerlist .footerlist2 h1 {
  font-size: 25px;
}

main .contact {
  background-image: url(../img/background.png);
  width: 1519px;
  height: 400px;
  margin-top: 88px;
  background-color: rgb(6, 39, 40);
}
@media (max-width: 769px) {
  main .contact {
    width: 751px;
  }
}
@media (max-width: 481px) {
  main .contact {
    width: 481px;
  }
}
main .contact img {
  width: 1519px;
  height: 400px;
}
main .contact h1 {
  width: 490px;
  font-size: 35px;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
@media (max-width: 481px) {
  main .contact h1 {
    font-size: 30px;
  }
}
main .contact .contact1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 500px;
}
@media (max-width: 1281px) {
  main .contact .contact1 {
    margin-left: 410px;
  }
}
@media (max-width: 769px) {
  main .contact .contact1 {
    margin-left: 120px;
  }
}
@media (max-width: 481px) {
  main .contact .contact1 {
    margin-left: 0px;
  }
}
main .mainrunner {
  display: flex;
}
@media (max-width: 481px) {
  main .mainrunner {
    flex-wrap: wrap;
  }
}
main .mainrunner .runner2 {
  width: 400px;
  height: 470px;
  background-image: url(../img/background.png);
  background-color: #699faf;
  margin-top: 120px;
  margin-left: 200px;
  display: flex;
}
@media (max-width: 769px) {
  main .mainrunner .runner2 {
    margin-left: 0px;
  }
}
@media (max-width: 481px) {
  main .mainrunner .runner2 {
    margin-left: 21px;
  }
}
main .mainrunner .runner2 img {
  width: 400px;
  height: 450px;
  margin-top: 50px;
  margin-left: 50px;
}
@media (max-width: 769px) {
  main .mainrunner .runner2 img {
    margin-left: 30px;
  }
}
main .mainrunner section .runner3 {
  display: flex;
  width: 400px;
  flex-direction: column;
  margin-top: 200px;
  margin-left: 200px;
}
@media (max-width: 769px) {
  main .mainrunner section .runner3 {
    margin-left: 63px;
  }
}
@media (max-width: 481px) {
  main .mainrunner section .runner3 {
    margin-left: 93px;
    margin-top: 85px;
  }
}
main .mainrunner section .runner3 h1 {
  font-size: 25px;
  margin-bottom: 20px;
}
@media (max-width: 769px) {
  main .mainrunner section .runner3 h1 {
    width: 300px;
  }
}
@media (max-width: 769px) {
  main .mainrunner section .runner3 p {
    width: 300px;
  }
}
main .mainrunner section .icons2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 200px;
  height: 250px;
}
@media (max-width: 769px) {
  main .mainrunner section .icons2 {
    margin-left: 75px;
  }
}
@media (max-width: 481px) {
  main .mainrunner section .icons2 {
    margin-left: 105px;
  }
}
main .mainrunner section .icons2 .mini-icons {
  display: flex;
  color: #7A9CA5;
}
main .mainrunner section .icons2 .mini-icons h1 {
  margin-left: 20px;
  color: black;
  display: flex;
  flex-direction: column;
}
main .mainrunner section .icons2 .mini-icons i {
  margin-top: 10px;
  border: 12px solid lightcoral;
  border-radius: 100% 0% 100% 0%;
}
main .mainrunner section .icons2 .mini-icons h3 {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
main .mainrunner section .icons2 .mini-icons a {
  color: #7A9CA5;
}
main .mainrunner section .icons2 .mini-icons .icon2 {
  display: flex;
  flex-direction: column;
}
main .contactend {
  background-color: #EBF3F5;
  width: 1519px;
  height: 800px;
  margin-top: 150px;
}
@media (max-width: 481px) {
  main .contactend {
    width: 481px;
  }
}
main .contactend .contactend1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1281px) {
  main .contactend .contactend1 {
    margin-right: 100px;
  }
}
@media (max-width: 769px) {
  main .contactend .contactend1 {
    margin-right: 700px;
  }
}
@media (max-width: 481px) {
  main .contactend .contactend1 {
    margin-right: 0px;
  }
}
main .contactend .contactend1 h1 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 50px;
}
main .contactend .contactreg {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: white;
  height: 500px;
  margin-top: 100px;
  margin-left: 450px;
  width: 600px;
  border: 3px solid cadetblue;
}
@media (max-width: 1281px) {
  main .contactend .contactreg {
    margin-left: 400px;
  }
}
@media (max-width: 769px) {
  main .contactend .contactreg {
    margin-left: 110px;
  }
}
@media (max-width: 481px) {
  main .contactend .contactreg {
    margin-left: 30px;
    width: 400px;
    height: 400px;
    margin-top: 70px;
  }
}
main .contactend #contactreg2 {
  width: 500px;
  height: 50px;
  border: 3px solid #5C8692;
  background-color: white;
  margin-left: 50px;
}
@media (max-width: 481px) {
  main .contactend #contactreg2 {
    width: 300px;
  }
}
main .contactend #description {
  width: 500px;
  margin-left: 50px;
  border: 3px solid #5C8692;
  background-color: white;
  resize: none;
}
@media (max-width: 481px) {
  main .contactend #description {
    width: 300px;
  }
}
main .contactend #send {
  width: 220px;
  height: 40px;
  border-color: #5C8692;
  background-color: white;
  margin-top: 10px;
  margin-left: 180px;
  cursor: pointer;
}
main .contactend #send:hover {
  background-color: #c9c9c9;
}
@media (max-width: 481px) {
  main .contactend #send {
    margin-left: 80px;
  }
}

main .whatuget .whatugeth1 h1 {
  display: flex;
  justify-content: center;
  font-size: 32px;
  margin-top: 100px;
  margin-bottom: 50px;
}
main .whatuget .whatuget2 {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
@media (max-width: 1281px) {
  main .whatuget .whatuget2 {
    margin-top: 80px;
  }
}
main .whatuget .whatuget2 .whatugetimgs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 100px;
  height: 400px;
}
@media (max-width: 1281px) {
  main .whatuget .whatuget2 .whatugetimgs {
    margin-left: 90px;
  }
}
main .whatuget .whatuget2 .whatugetimgs img {
  width: 80px;
  height: 80px;
  border: 3px solid cadetblue;
}
main .whatuget .whatuget2 .whatugettxt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .whatuget .whatuget2 .whatugettxt .hlife h1 {
  margin-top: 30px;
}
main .whatuget .whatuget2 .whatugettxt .hlife2 h1 {
  margin-bottom: 20px;
}
main .whatuget .whatuget2 .whatugettxt div {
  width: 300px;
  margin-left: 100px;
}
main .whatuget .whatuget2 .whatugettxt h1 {
  font-size: 18px;
}
main .aboutmain {
  background-color: #EBF3F5;
  width: 1519px;
  height: 600px;
  display: flex;
  margin-top: 150px;
}
@media (max-width: 769px) {
  main .aboutmain {
    width: 751px;
  }
}
@media (max-width: 481px) {
  main .aboutmain {
    width: 481px;
  }
}
main .aboutmain div {
  display: grid;
  place-items: center;
}
main .aboutmain div .aboutmaindiv {
  width: 900px;
  height: 350px;
  background-color: #1E2C30;
  grid-area: 1/1;
  margin-left: 300px;
}
@media (max-width: 1281px) {
  main .aboutmain div .aboutmaindiv {
    margin-left: 220px;
  }
}
@media (max-width: 769px) {
  main .aboutmain div .aboutmaindiv {
    margin-left: 0px;
  }
}
@media (max-width: 481px) {
  main .aboutmain div .aboutmaindiv {
    width: 300px;
    height: 350px;
  }
}
main .aboutmain div .aboutmaindiv h1 {
  color: white;
  font-size: 30px;
  margin-left: 340px;
}
@media (max-width: 769px) {
  main .aboutmain div .aboutmaindiv h1 {
    margin-left: 240px;
  }
}
@media (max-width: 481px) {
  main .aboutmain div .aboutmaindiv h1 {
    margin-left: 0px;
    font-size: 20px;
  }
}
main .aboutmain div .aboutmaindiv p {
  width: 200px;
  color: #5C8692;
  margin-left: 350px;
  margin-bottom: 100px;
}
@media (max-width: 769px) {
  main .aboutmain div .aboutmaindiv p {
    margin-left: 250px;
  }
}
@media (max-width: 481px) {
  main .aboutmain div .aboutmaindiv p {
    margin-left: 39px;
  }
}
main .aboutmain div img {
  width: 370px;
  height: 500px;
  grid-area: 1/1;
  margin-right: 120px;
}
@media (max-width: 769px) {
  main .aboutmain div img {
    margin-right: 450px;
  }
}
@media (max-width: 481px) {
  main .aboutmain div img {
    width: 240px;
    height: 415px;
  }
}
main .fitmain {
  margin-top: 150px;
}
main .fitmain h1 {
  font-size: 35px;
  display: flex;
  justify-content: center;
}
@media (max-width: 769px) {
  main .fitmain h1 {
    font-size: 25px;
  }
}
@media (max-width: 481px) {
  main .fitmain h1 {
    margin-left: 35px;
  }
}
main .fitmain img {
  width: 200px;
  height: 200px;
  border: 1px solid white;
  border-radius: 14px;
  margin-left: 110px;
}
main .fitmain .fitmembers {
  display: flex;
  margin-top: 100px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
@media (max-width: 769px) {
  main .fitmain .fitmembers div {
    margin: 30px;
  }
}
main .fitmain .fitmembers h1 {
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
main .fitmain .fitmembers p {
  width: 400px;
  margin-left: 20px;
}
main .fitmain .fitmembers h3 {
  color: #58692C;
  font-size: 15px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 18px;
}
main .fitmain .fitmembers .abouticon {
  margin-left: 150px;
  margin-top: 50px;
}
main .fitmain .fitmembers .abouticon i {
  margin: 10px;
}
main .fitmain .fitmembers .abouticon i:hover {
  font-size: 30px;
}
main .mainwhatwearedoing {
  background-color: #EBF3F5;
  width: 1519px;
  height: 600px;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 769px) {
  main .mainwhatwearedoing {
    width: 751px;
  }
}
main .mainwhatwearedoing .whatwearedoingh1 {
  margin-left: 500px;
  font-size: 40px;
  margin-top: 100px;
}
@media (max-width: 1281px) {
  main .mainwhatwearedoing .whatwearedoingh1 {
    margin-left: 430px;
  }
}
@media (max-width: 769px) {
  main .mainwhatwearedoing .whatwearedoingh1 {
    margin-left: 140px;
  }
}
@media (max-width: 481px) {
  main .mainwhatwearedoing .whatwearedoingh1 {
    font-size: 25px;
    margin-left: 75px;
    margin-top: 50px;
  }
}
main .mainwhatwearedoing .whatwearedoing {
  display: flex;
  margin-top: 100px;
}
main .mainwhatwearedoing .whatwearedoing .whatwearedoingtxt {
  margin-right: 50px;
  margin-left: 300px;
  width: 400px;
  background-color: white;
  margin-bottom: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (max-width: 1281px) {
  main .mainwhatwearedoing .whatwearedoing .whatwearedoingtxt {
    margin-left: 250px;
  }
}
@media (max-width: 769px) {
  main .mainwhatwearedoing .whatwearedoing .whatwearedoingtxt {
    margin-left: 0px;
  }
}
@media (max-width: 481px) {
  main .mainwhatwearedoing .whatwearedoing .whatwearedoingtxt {
    width: 200px;
  }
}
main .mainwhatwearedoing .whatwearedoing .whatwearedoingtxt h1 {
  margin-left: 100px;
  font-size: 20px;
}
@media (max-width: 481px) {
  main .mainwhatwearedoing .whatwearedoing .whatwearedoingtxt h1 {
    margin-left: 0px;
  }
}
main .mainwhatwearedoing .whatwearedoing .whatwearedoingtxt li {
  margin-left: 100px;
}
@media (max-width: 481px) {
  main .mainwhatwearedoing .whatwearedoing .whatwearedoingtxt li {
    margin-left: 0px;
  }
}
main .mainwhatwearedoing .whatwearedoingtxt2 {
  width: 400px;
  background-color: white;
  display: flex;
  height: 190px;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (max-width: 481px) {
  main .mainwhatwearedoing .whatwearedoingtxt2 {
    width: 200px;
  }
}
main .mainwhatwearedoing .whatwearedoingtxt2 h1 {
  margin-left: 100px;
  font-size: 20px;
}
@media (max-width: 481px) {
  main .mainwhatwearedoing .whatwearedoingtxt2 h1 {
    margin-left: 0px;
  }
}
main .mainwhatwearedoing .whatwearedoingtxt2 li {
  margin-left: 100px;
}
@media (max-width: 481px) {
  main .mainwhatwearedoing .whatwearedoingtxt2 li {
    margin-left: 0px;
  }
}
main .mainwhatwearedoing .whatwearedoing1 {
  display: flex;
}
main .mainwhatwearedoing .whatwearedoing1 .whatwearedoing2 {
  display: flex;
  background-color: #1E2C30;
  width: 400px;
  margin-left: 300px;
}
@media (max-width: 1281px) {
  main .mainwhatwearedoing .whatwearedoing1 .whatwearedoing2 {
    margin-left: 250px;
  }
}
@media (max-width: 769px) {
  main .mainwhatwearedoing .whatwearedoing1 .whatwearedoing2 {
    margin-left: 0px;
  }
}
@media (max-width: 481px) {
  main .mainwhatwearedoing .whatwearedoing1 .whatwearedoing2 {
    width: 200px;
  }
}
main .mainwhatwearedoing .whatwearedoing1 .whatwearedoing2 img {
  margin-right: 10px;
}
main .mainwhatwearedoing .whatwearedoing1 .whatwearedoing2 h1 {
  color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 25px;
}
main .mainwhatwearedoing .whatwearedoing1 .whatwearedoing2 .scientist1img {
  width: 50px;
  height: 50px;
  margin-top: 7px;
  margin-left: 20px;
}
main .mainwhatwearedoing .whatwearedoing1 .whatwearedoing3 {
  display: flex;
  background-color: #1E2C30;
  width: 400px;
  margin-left: 50px;
}
@media (max-width: 481px) {
  main .mainwhatwearedoing .whatwearedoing1 .whatwearedoing3 {
    width: 200px;
  }
}
main .mainwhatwearedoing .whatwearedoing1 .whatwearedoing3 img {
  width: 50px;
  height: 50px;
  margin-top: 7px;
  margin-left: 20px;
}
main .mainwhatwearedoing .whatwearedoing1 .whatwearedoing3 h1 {
  color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 25px;
  margin-left: 20px;
}
main section .follow {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
@media (max-width: 1281px) {
  main section .follow {
    margin-left: 100px;
  }
}
@media (max-width: 769px) {
  main section .follow {
    margin-left: 20px;
  }
}
main section .follow h1 {
  font-size: 35px;
  width: 200px;
}
@media (max-width: 481px) {
  main section .follow h1 {
    font-size: 20px;
    width: 180px;
  }
}
main section .follow p {
  width: 300px;
  margin-bottom: 40px;
  margin-top: 20px;
  color: #58692C;
}
@media (max-width: 481px) {
  main section .follow p {
    width: 235px;
  }
}
main section .follow .followicon i {
  color: black;
}
main section .follow .follow1 img {
  width: 300px;
  height: 400px;
  margin-right: 50px;
}
@media (max-width: 481px) {
  main section .follow .follow1 img {
    width: 200px;
    height: 300px;
  }
}
main section .follow .follow2 {
  display: flex;
  flex-direction: column;
}
@media (max-width: 481px) {
  main section .follow .follow2 {
    margin-top: 27px;
  }
}
main section .follow .follow2 img {
  width: 400px;
  height: 300px;
  margin-bottom: 25px;
}
@media (max-width: 481px) {
  main section .follow .follow2 img {
    width: 200px;
    height: 150px;
  }
}
main section #follow {
  width: 100px;
  height: 30px;
  background-color: #1E2C30;
  color: white;
  margin-left: 700px;
  margin-top: 20px;
  margin-bottom: 100px;
  cursor: pointer;
}
main section #follow:hover {
  width: 105px;
  height: 35px;
}
@media (max-width: 1281px) {
  main section #follow {
    margin-left: 620px;
  }
}
@media (max-width: 769px) {
  main section #follow {
    margin-left: 320px;
  }
}
@media (max-width: 481px) {
  main section #follow {
    margin-left: 186px;
  }
}
main .Services {
  margin-bottom: 100px;
}
main .Services .Servicestxt {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 100px;
  flex-direction: column;
  align-items: center;
}
main .Services .Servicestxt h1 {
  font-size: 40px;
}
@media (max-width: 481px) {
  main .Services .Servicestxt h1 {
    font-size: 20px;
  }
}
main .Services .Servicestxt h3 {
  color: #5C8692;
}
main .Services .Servicespic1 {
  display: flex;
  border-top: 2px solid #555555;
}
main .Services .Servicespic1 .miniservpic1 {
  margin-left: 350px;
  margin-top: 20px;
  display: inline-block;
}
@media (max-width: 1281px) {
  main .Services .Servicespic1 .miniservpic1 {
    margin-left: 250px;
  }
}
@media (max-width: 769px) {
  main .Services .Servicespic1 .miniservpic1 {
    margin-left: 0px;
  }
}
main .Services .Servicespic1 .miniservpic1 img {
  width: 400px;
  height: 410px;
  border: 25px solid #5C8692;
}
@media (max-width: 481px) {
  main .Services .Servicespic1 .miniservpic1 img {
    width: 300px;
    height: 350px;
  }
}
main .Services .Servicespic1 .list {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  margin-left: 100px;
}
@media (max-width: 481px) {
  main .Services .Servicespic1 .list {
    font-size: 14px;
    margin-left: 10px;
    margin-top: 40px;
  }
}
main .Services .Servicespic1 .list #Submit2 {
  width: 120px;
  height: 40px;
  border-color: #5C8692;
  margin-left: 30px;
  cursor: pointer;
}
main .Services .Servicespic1 .list #Submit2:hover {
  background-color: #c9c9c9;
}
@media (max-width: 481px) {
  main .Services .Servicespic1 .list #Submit2 {
    margin-left: 0px;
  }
}
main .Services .Servicespic2 {
  display: flex;
  height: 430px;
  border-bottom: 2px solid #555555;
}
main .Services .Servicespic2 .list2 {
  display: flex;
  margin-top: 10px;
  margin-left: 350px;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
}
@media (max-width: 1281px) {
  main .Services .Servicespic2 .list2 {
    margin-left: 250px;
  }
}
@media (max-width: 769px) {
  main .Services .Servicespic2 .list2 {
    margin-left: 10px;
  }
}
@media (max-width: 481px) {
  main .Services .Servicespic2 .list2 {
    font-size: 14px;
    margin-left: 4px;
  }
}
main .Services .Servicespic2 .list2 #Submit2 {
  width: 120px;
  height: 40px;
  border-color: #5C8692;
  margin-left: 50px;
  cursor: pointer;
}
main .Services .Servicespic2 .list2 #Submit2:hover {
  background-color: #c9c9c9;
}
main .Services .Servicespic2 .miniservpic2 {
  display: inline-block;
  margin-left: 192px;
}
@media (max-width: 481px) {
  main .Services .Servicespic2 .miniservpic2 {
    margin-left: 0px;
  }
}
main .Services .Servicespic2 .miniservpic2 img {
  width: 400px;
  height: 410px;
  border: 25px solid #5C8692;
}
@media (max-width: 769px) {
  main .Services .Servicespic2 .miniservpic2 img {
    width: 380px;
  }
}
@media (max-width: 481px) {
  main .Services .Servicespic2 .miniservpic2 img {
    width: 300px;
    height: 350px;
  }
}
main .Services .lastservpic {
  display: flex;
  border-bottom: 2px solid #555555;
  height: 490px;
}
main .Services .lastservpic .miniservpic1 {
  margin-left: 350px;
  margin-top: 20px;
  display: inline-block;
}
@media (max-width: 1281px) {
  main .Services .lastservpic .miniservpic1 {
    margin-left: 250px;
  }
}
@media (max-width: 769px) {
  main .Services .lastservpic .miniservpic1 {
    margin-left: 0px;
  }
}
main .Services .lastservpic .miniservpic1 img {
  width: 400px;
  height: 450px;
  border: 25px solid #5C8692;
}
@media (max-width: 481px) {
  main .Services .lastservpic .miniservpic1 img {
    width: 300px;
    height: 350px;
  }
}
main .Services .lastservpic .list {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  margin-left: 100px;
}
@media (max-width: 481px) {
  main .Services .lastservpic .list {
    margin-left: 10px;
    margin-top: 40px;
    font-size: 14px;
  }
}
main .Services .lastservpic .list #Submit2 {
  width: 120px;
  height: 40px;
  border-color: #5C8692;
  margin-left: 30px;
  cursor: pointer;
}
main .Services .lastservpic .list #Submit2:hover {
  background-color: #c9c9c9;
}
@media (max-width: 481px) {
  main .Services .lastservpic .list #Submit2 {
    margin-left: 0px;
  }
}

#fixed {
  position: fixed;
  z-index: 1;
  width: 1519px;
}
@media (max-width: 1281px) {
  #fixed {
    width: 1280px;
  }
}
@media (max-width: 481px) {
  #fixed {
    width: 481px;
  }
}
#fixed .overlay {
  position: absolute;
  width: 100%;
  height: 90px;
  background-color: #5b777e;
  opacity: 0.5;
}
@media (max-width: 769px) {
  #fixed .overlay {
    height: 120px;
  }
}

main .news {
  margin-top: 200px;
}
@media (max-width: 1281px) {
  main .news {
    margin-left: 50px;
  }
}
@media (max-width: 769px) {
  main .news {
    margin-left: 0px;
  }
}
main .news .news-imgs {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}
main .news .news-imgs img {
  width: 220px;
  height: 200px;
}
@media (max-width: 481px) {
  main .news .news-imgs img {
    width: 145px;
    height: 167px;
  }
}
main .news .news-description {
  display: flex;
  justify-content: space-evenly;
}
main .news .news-description div {
  background-color: #c9c9c9;
  width: 220px;
}
@media (max-width: 481px) {
  main .news .news-description div {
    width: 145px;
  }
}
main .news .news-description h1 {
  margin-top: 10px;
  font-size: 18px;
  display: flex;
  justify-content: center;
}
@media (max-width: 481px) {
  main .news .news-description h1 {
    font-size: 14px;
    margin-left: 11px;
  }
}
main .news .news-description p {
  margin-top: 10px;
  margin-left: 20px;
}
main .news #submit3 {
  margin-left: 700px;
  margin-top: 50px;
  width: 120px;
  height: 40px;
  border-color: #5C8692;
  margin-bottom: 150px;
  cursor: pointer;
}
main .news #submit3:hover {
  background-color: #c9c9c9;
}
@media (max-width: 1281px) {
  main .news #submit3 {
    margin-left: 550px;
  }
}
@media (max-width: 769px) {
  main .news #submit3 {
    margin-left: 310px;
  }
}
@media (max-width: 481px) {
  main .news #submit3 {
    margin-left: 175px;
  }
}/*# sourceMappingURL=global.css.map */