@import "variables" ;
@import "reset";

html {
  
  overflow-x: hidden;
  @media  (max-width: 1281px){
    overflow-x: hidden;
     
  }
}

// aq iwyeba index ~ //
// aq daiwyo header $ //
header {
  a {

    i {
     color: #000;
    }
  }
      section {
         .tbc {
          margin-top: 20px;
          margin-left: 670px;
          display: flex;
          width: 100px;

          @media (max-width: 1281px) {
            margin-left: 619px;
          }

          @media (max-width: 769px) {
            margin-left: 340px;
         }
         @media (max-width:481px) {
          margin-left: 160px;     
         }
           
             .tbc1 {
              width: 100px;
              margin-left: 20px;
              &:hover { width: 110px;
                border-bottom:2px solid  cyan;
              }
             }
           }
          
           .header1 {
            padding: 30px;
            display: inline-block;

            @media (max-width: 769px) {
              display: block;
              margin-left: 80px;
           }

            @media (max-width: 481px) {
              margin-left: 0px;
              padding: 10px;
            }
            

            h1 {
              display: inline-block;
               font-style: normal;
              color: $text-color;
              font-size:28px ;
                margin-left: 10px;
                  margin-right: 50px;

                  @media (max-width: 481px) {
                    font-size: 20px;
                    margin-right: 25px;
                    margin-left: 0px;
                  }
            }
            .phone {
              margin-left: 10px;
              font-size: 15px;

              @media (max-width: 481px) {
               font-size: 15px;
               margin-left: 0px;   
              }
            }
           }

           .header2 {
            display: inline-block;
            width: 630px;
            margin-left: 230px;
            height: 50px;

            @media  (max-width: 1281px){
              width: 580px;
              margin-left: 30px;
               
            }

            @media (max-width: 769px) {
             margin-left: 80px;
             width: 600px;
           }

           @media (max-width: 481px) {
              width: 480px;
              margin-left: 0px;        
           }
            
            

            .childheader2 {
              display: flex;
              justify-content: space-between;
              font-size: 18px;
              height: 50px;

              @media (max-width: 481px) {
                 justify-content: space-evenly;
                 margin-top: 20px;    
                 font-size: 14.5px; 
                 flex-wrap: wrap;

              }
              
              i {
                margin-top: 10px;
              }

              .home {
                color: black;

                &:hover {
                    font-size: 20px;
                    border-bottom:2px solid  cyan;
                    margin-bottom: 25px;
                    opacity: 1;

                    @media (max-width: 481px) {
                        font-size: 15px ;
                        
                    }
                    
                     
                      
                    
                }

                
              }

              .a {
                border-bottom:2px solid  cyan;
              }
            
              .icon:hover {
                font-size: 20px;
               
              } 

              h1 {
                @media (max-width: 481px) {
                  
                  margin-right: 23px;
               }
              }
              
          }
      }

}
}
//  aq daixura header $$$ //


// aq ixsneba main $ //

main {
  background-color: #b6d8b0;

  @media (max-width: 769px) {
    margin-top: 121px;
 }
  .mainmain {
    display: flex;
    margin-top: 90px;

    @media (max-width: 481px) {
      flex-wrap: wrap;             
    }
     
    .main {
      background-color: #EBF3F5;
      width: 800px;
       height: 600px;
       display: inline-block;

       @media (max-width: 769px) {
        width: 400px;
        height: 500px;
     }

     @media (max-width: 481px) {
       width: 480px; 
       height: 450px;           
     }

       .main1 {
        display: flex;
        align-items: center;
        justify-content: center;

        .child-main1 {
          display: flex;
           margin-top: 100px;
         color:#58692C ;
          margin-left: 220px;

          @media (max-width: 769px) {
            margin-left: 20px;
         }

             h1 {
                margin-right: 5px;
                 } 
             i {
              margin-right: 6px;
              margin-top: 5px ;
             }    
        }
       }
       .maintxt {
        font-size: 65px;
        width: 450px;
        margin-left: 400px;
        margin-top: 20px;
        margin-bottom: 20px;

        @media (max-width: 769px) {
          margin-top: 100px;
          margin-bottom: 100px;
          font-size: 25px;
          margin-left: 10px;
       }

       @media (max-width: 481px) {
         margin-left: 50px;          
       }
      }
      .child-maintxt {
        margin-left:300px ;
        margin-top: 20px;
        
        @media (max-width: 769px) {
          margin-left: 50px;
            
        }
      }
    }

    .main2 {
      background-color:rgb(6, 39, 40) ;
      background-image: url(../img/background.png);
      width: 800px;
      height: 600px;
      display: inline-block;


     @media (max-width: 769px) {
         height: 500px;
          width: 400px;  
        }

        @media (max-width: 481px) {
         width: 480px;         
        }
    
    
      img {
        border-radius: 20px;
        width: 400px;
        height: 400px;
        margin-top: 80px;

        @media (max-width: 769px) {
          height: 300px;
          width: 300px;
            
        }

        @media (max-width: 481px) {
          margin-left:74px ;         
        }
    

       
      }
    }
  }

   section {
    
     .images {
      display: flex;
       justify-content: space-around;
       margin-top: 100px;
       

       @media (max-width: 769px) {
         flex-wrap: wrap;
         margin-right: 100px;
         margin-left: 100px;
         

            
       }
   

    

        

          img {
            border-radius: 150px;

            @media (max-width: 769px) {
              margin-top: 90px; 
         }
          }
         

          
          .healthyfood {
            font-size: 25px;
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
          }
          .txt1 {
            width: 300px;
            color: #555555;
           margin-left: 90px;
           margin-bottom: 5px;

           @media (max-width: 769px) {
             margin-left: 50px;
       }

           &:hover {
            font-size: 20px;
           }
       }
       .Workout {
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
      }
      .txt2 {
        width: 335px;
       color: #555555;
        margin-left: 15px ;
        margin-bottom: 18px;

        &:hover {
          font-size: 20px;
        }
      }
      
      .sleep {
        font-size: 25px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
      }

      .txt3 {
        width: 250px;
        color: #555555;
        margin-bottom: 15px;
        margin-left:80px ;
        
        @media (max-width: 769px) {
             margin-left: 70px;
        }
        &:hover {
          font-size: 20px;
        }
      }
    
      #Submit {
        width: 120px;
        height: 40px;
        border-color: #5C8692;;
        margin-top: 10px;
        margin-left: 100px;
        cursor: pointer;

        &:hover {
          margin-top: 20px;
          background-color: $bg-color;
        }

      }
     }
   }
   

   .mainmain2 {
    display: flex;
    margin-top: 90px;

    @media (max-width: 769px) {
      display: block;         
    }
   
    .main {
      background-color: #EBF3F5;
      width: 800px;
       height: 600px;
       display: inline-block;

       @media  (max-width: 1281px){
        width: 580px;      
      }

      @media (max-width: 769px) {
        width: 751px;
        height: 500px;        
      }

       .main1 {
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width:481px) {
          width: 480px;
        }

         .healthyh1 {
          margin-top: 50px;
          margin-left: 220px;
        
     
       h1 {
         font-size: 30px;
         margin-bottom: 40px;
         margin-left: 90px;

         @media (max-width:481px) {
          margin-left: 45px;
        }
       }

       p {
        margin-right: 200px;


        @media (max-width:481px) {
          width: 444px;
          margin-left: 33px;
        }
       }

       .child-main2 {
        display: flex;
       color:#58692C ;
       margin-left: 100px;

       @media  (max-width: 1281px){
       
        margin-left: 0px;
         
      }

      @media (max-width:481px) {
        margin-left: 60px;
      }

      
      
         h3 {
           margin-right: 5px;
           font-size: 15px;
           margin-top: 50px;
           margin-bottom: 50px;
          } 

          i {
            margin-top: 55px;
            margin-right: 5px;
          }
      
         }

         .icons {
          display: flex;
          margin-top: 50px;
          width: 500px;
          justify-content: space-around;
          margin-right: 325px;

          @media  (max-width: 1281px){
            margin-right: 200px;
             
          }

          @media (max-width: 769px) {
            justify-content: space-between;       
          }

          @media (max-width:481px) {
            justify-content: space-evenly;
            margin-top: 20px;
          }
           
          .foodicon {
            background-color: white;
            border: 1px solid #7A9CA5;
            border-radius: 10px;
            width: 100px;
            height: 100px;
        
            img {
              margin-left: 25px;
              margin-top: 5px;
            }
        
            h3 {
              margin-left:30px ;
              margin-top: 5px;
            }
          }
          
          .workouticon {
            background-color: white;
            border: 1px solid #7A9CA5;
            border-radius: 10px;
            width: 100px;
            height: 100px;
        
            img {
              margin-left: 25px;
              margin-top: 5px;
            }
        
            h3 {
              margin-left:18px ;
              margin-top: 5px;
            }
          }
          
          .sleepicon {
            background-color: white;
            border: 1px solid #7A9CA5;
            border-radius: 10px;
            width: 100px;
            height: 100px;
        
            img {
              margin-left: 25px;
              margin-top: 5px;
            }
        
            h3 {
              margin-left:30px ;
              margin-top: 5px;
            }
          }  

         } 
       }
      }
  }
             .runner {
                background-color:#EBF3F5 ;
                width: 800px;
               height: 600px;
              display: inline-block;

              @media (max-width: 769px) {
                width: 751px;         
              }

              @media (max-width:481px) {
                width: 480px;
                height: 500px;
              }
                   
              .runner1 {
                width: 600px;
                height: 500px;
                margin-top: 60px ;
                margin-left: 50px;
                border-radius: 30px;

                @media (max-width: 769px) {
                  margin-left: 100px;        
                }
                @media (max-width:481px) {
                  margin-left: 5px;
                  width: 450px;
                  height: 400px;
                  margin-top: 30px;
                }
                
                  }
               }
        }
        
        section {

          .main3txt {
            display: flex;
            justify-content: center;
            margin-top: 120px;
            flex-direction: column; 
            align-items: center;

           
            h1{ 
                 font-size: 40px;  

                 @media (max-width:481px) {
                  font-size: 20px;
                }
               }
            }
        
            .mainworkaoutman {
              display: flex;
        
              .workoutman {
        
                margin-left: 350px;
                margin-top: 100px;
                display: inline-block;

                @media (max-width: 1281px) {
                         margin-left: 250px;
                }

                @media (max-width: 769px) {
                   margin-left: 40px;  
                }

                @media (max-width:481px) {
                  margin-left: 0px;
                }
           
                img {
                 width: 400px;
                 height: 450px;
                 border: 25px solid #5C8692;

                 @media (max-width:481px) {
                   width: 300px;
                   height: 350px;
               
                 }
                }
             }
        
             .list {  
              margin-top: 100px;
              display: flex;
              flex-direction: column; 
            justify-content: center;
            justify-content: space-around;
            margin-left: 100px;

            @media (max-width:481px) {
             font-size: 14px;     
             margin-left: 3px;
            }
                
            #Submit2 {
              width: 120px;
              height: 40px;
              border-color: #5C8692;;
              margin-left: 30px;
              cursor: pointer;
              
              &:hover{
                background-color: $bg-color;
              }
            }
              }
        
        
            }
            
            .mainworkaoutwoman {
              display: flex;
              height: 430px; 

              
        
              .list2 {
                display: flex;
                margin-top: 10px;
                margin-left: 350px;
                flex-direction: column;
                justify-content: center;
              justify-content: space-around;

              @media (max-width: 1281px) {
                 margin-left: 250px;
                   }

                   @media (max-width: 769px) {
                   margin-left: 40px;         
                  }

                  @media (max-width:481px) {
                     margin-left: 0px;
                     font-size: 14px;
                  }
        
              #Submit2 {
                width: 120px;
                height: 40px;
                border-color: #5C8692;;
                margin-left: 50px;
                cursor: pointer;
              
                &:hover{
                  background-color: $bg-color;
                }
              
              }
            
              }
              .workoutwoman {
                display: inline-block;
                margin-left: 142px;
                @media (max-width:481px) {
                  margin-left: 0px;
                }
                img {
                  width: 400px;
                  height: 410px;
                  border: 25px solid #5C8692;

                  @media (max-width:481px) {
                      width: 300px;
                      height: 350px;
                  }
                  
                 }
              }
             }
        
        }

        .mainmain2 {
          display: flex;
          margin-top: 90px;

          @media (max-width: 769px) {
            display: block;         
          }

          .mainscience {
            background-color: #EBF3F5;
            width: 1519px;
             height: 600px;

             @media (max-width: 769px) {
                  width: 751px;
            }
             
             .scienceh1 {
              margin-left: 500px;
              font-size: 40px;
              margin-top: 100px;

              @media (max-width: 1281px) {
                margin-left: 450px;
                }

                @media (max-width: 769px) {
                  margin-left: 205px;
                  font-size: 35px; 
                  
                }
                @media (max-width:481px) {
                  font-size: 25px;
                  margin-left: 99px; 
                }
            }

            .science {
              display: flex;
            margin-top: 100px;

            .sciencetxt {
              margin-right: 50px;
             margin-left: 300px;
             width: 400px;
             background-color: white;
             margin-bottom: 2px;
             display: flex;

        

             @media (max-width: 1281px) {
              margin-left: 250px;
               }

               @media (max-width: 769px) {
                margin-left: 50px;  
               }

               @media (max-width:481px) {
                 margin-left: 0px;
                 width: 200px;  
               }
            
            
             P {
              margin-top: 30px;
              margin-left: 40px;
              margin-right: 20px;

              @media (max-width:481px) {
               font-size: 14px; 
              }
            }
             }
            }

            .sciencetxt1 {
              width: 400px;
           background-color: white;
           display: flex;
           height: 190px;
           @media (max-width: 769px) {
            height: 207px;     
          }

          @media (max-width:481px) {
              width: 200px;
              height: auto;       
          }

         
          
           p {
            margin-top: 20px;
            margin-left: 10px;

            @media (max-width:481px) {
                font-size: 14px;;
            }
            
          }
           }
            
           .scientists {
            display: flex;
 
            .scientist1 {
              display: flex;
              background-color: #1E2C30;
              width: 400px;
              margin-left: 300px;

              @media (max-width: 1281px) {
                margin-left: 250px;
               }
               @media (max-width: 769px) {
                  margin-left: 50px;
               }

               @media (max-width:481px) {
                 width: 200px;
                 margin-left: 0px;  
               }
              
                img {
                  margin-right: 10px;
                }
          
              h1 {
                color: white;
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
                margin-top: 10px;
              }
          
              h5 {
                color: white;
                font-size: 12px;
                display: flex;
                flex-direction: column;
                
              }

              .scientist1img {
                width: 50px;
                height: 50px;
                margin-top: 7px;
                margin-left: 20px;
              }

              
          
            }
             
            .scientist2 {
              display: flex;
              background-color: #1E2C30;
              width: 400px;
              margin-left: 50px;

              @media (max-width:481px) {
                width: 200px;
               
              }
              
                img {
                  width: 50px;
                height: 50px;
                margin-top: 7px;
                margin-left: 20px;
                }
          
              h1 {
                color: white;
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
                margin-top: 10px;
                margin-left: 20px;
              }
          
              h5 {
                color: white;
                font-size: 12px;
                display: flex;
                flex-direction: column;
                margin-left: 20px;
                
              }

              
            }


           }
          
          }
          
        }

        .actually {
         

          h1 {
            display:flex;
            font-size: 35px;
            justify-content: center;
            margin-top: 70px;

            @media (max-width:481px) {
              font-size: 25px;
            }
            
            
          
          }
        
        
          img {
            width: 60px;
            
          }

          .actually1 {
            display: flex;
            margin-top: 100px;
            justify-content: center;
            justify-content:space-evenly ;

            @media (max-width:481px) {
              flex-wrap: wrap;   
            }
          
            h1 {
              font-size: 20px;
              margin-top: 20px;
              margin-bottom: 30px;
              color: #000;
            }
            p {
              color: #58692C;
              font-size: 15px;
            }
          
            div {
              width: 250px;
              margin-bottom: 60px ; 
            }
          }
        }


        .mainregistration {
          display: flex;

          @media (max-width: 769px) {
               display: block;
         }
         
             
          .registration {
            width: 800px;
            height: 600px;
            background-color: #EBF3F5;
            margin-top: 200px;
            display: flex;

            @media (max-width: 769px) {
              height: 400px;  
            }

          
            
      
           
            h1 {
                font-size: 40px;
                margin-left: 350px;
                margin-top: 100px;   
                
                @media (max-width: 769px) {
                    margin-left: 250px;
                }

                @media (max-width:481px) {
                     margin-left: 145px;
                     font-size: 30px;
                }

            }
                 
            .registrationtxt {
              margin-top: 30px;
             width: 400px;
             margin-left: 300px;

             @media (max-width: 769px) {
                width: 600px;
                margin-left: 100px; 
             }

             @media (max-width:481px) {
               width: 342px;
               margin-left: 88px;

             }
           
           }

           .registrationimg {
            display: flex;
            margin-left: 50px;

            @media (max-width:481px) {
             margin-left: 0px;  
            }
          }
          .registrationcontact {
            width: 300px;
            background-color: white;
            margin-top: 50px;
            margin-left: 150px;

            @media (max-width: 769px) {
               margin-left: 80px;  
            }

            @media (max-width:481px) {
              width: 260px;
              margin-left: 0px;  
            }
          
          
             div {
              margin-left: 70px;
             }
          
             h1 {
              font-size: 15px;
              margin-left: 50px;
              margin-top: 50px;
             }
          }
          .numh3 {
            margin-bottom: 25px;  
          }
          
          .regimg {
            width: 200px;
            height: 200px;
            margin-top: 50px;
          }
        }

  

     .registration2 {
            width: 800px;
            height: 600px;
            background-color: #EBF3F5;
            margin-top: 200px;
            display: flex;

            @media (max-width: 769px) {
              margin-top: 0px;

            }

            .reg2 {
              display: flex;
              justify-content: space-evenly;
              flex-direction: column;
              background-color: white;
              height: 400px;
              margin-top: 100px;
              margin-left: 100px;
              width: 400px;
              border: 3px solid cadetblue;

              @media (max-width: 769px) {
                 margin-left: 175px;
              }

              @media (max-width:481px) {
                margin-left: 32px;
              }
            

            #reg {
              width: 300px;
                height: 50px;
                border: 3px solid #5C8692;
                background-color:white;
                margin-left: 50px;
            
            }
            #submitreg {
              width: 300px ;
              height: 40px;
              border: 3px solid #5C8692 ;
              margin-left: 50px;
              margin-top: 50px;
              cursor: pointer;

              &:hover{
                background-color: $bg-color;
              }
            }
          }
     }
   
    }
     
     
    .latestupdate {
      
      .latesth1 {
        display: flex;
        justify-content:center ;
        font-size: 40px;
        margin-top: 100px;
        
      
      }


      .latestimgs {
        display: flex;
        justify-content: space-evenly;
        margin-top: 100px;
        
     
       img {
         
         width: 220px;
         height: 200px;
         border-radius: 10px;

         @media (max-width:481px) {
          width: 145px;
          height: 167px;     
         }
       }
     }
      
     .latestdescription {
      display: flex;
      justify-content: space-evenly;
      
    
      div {
        background-color: #c9c9c9;
        width: 220px;
        border-radius: 10px;

        @media (max-width:481px) {
          width: 147px;      
        }
      }
    
      h1 {
        margin-top: 10px;
        font-size: 18px;
        display: flex;
        justify-content: center;
      
      }
    
      p {
        margin-top: 10px;
        margin-left: 20px;
        color: #58692C;
    }
    
    }

    #submit3 {
      margin-left: 700px;
      margin-top: 50px;
      width: 120px;
        height: 40px;
        border-color: #5C8692;;
        margin-bottom: 150px;
        cursor: pointer;

        &:hover{
          background-color: $bg-color;
          
        }


        @media (max-width: 1281px) {
          margin-left: 580px;
             }

             @media (max-width: 769px) {
               margin-left: 312px; 
             }

             @media (max-width:481px) {
              margin-left: 174px; 
             }
         
      

  }
    

     }

}
  // aq mtavrdeba main $$$ //



//  aq iwyeba footer $ //


footer {
    background-color: #1E2C30;
    width: 1519px;
    height: 400px;
    @media (max-width: 769px) {
      width: 751px; 
         
    }

    @media (max-width:481px) {
     width: 481px;          
    }
 
    
     section {
    .footertitle {
      width: 400px;
      display: inline-block;
      margin-left: 250px;
      margin-top: 50px;

      @media (max-width:481px) {
               margin-left: 118px;
      }

      h1 {
        color: white;
        display: inline-block;
        font-size: 30px;
        margin-left: 10px;
       
      }
    
      }
      .footericon {
        display: inline-block;
        margin-left:260px ;

        @media (max-width: 769px) {
               margin-left: 280px;
               margin-top: 20px;
        }      

        @media (max-width:481px) {
             margin-left: 135px;  
        }
      
        i {
          border: 10px solid red;
          border-radius:0% 100% 0% 100%  ;
          margin: 5px;
          
          &:hover {
            font-size: $font-size;
          }
        }
      }
  }

  .footerlist {
    display: flex;
    justify-content: space-evenly;

    @media (max-width: 769px) {
           width: 750px;    
    }      

    @media (max-width:481px) {
      justify-content: flex-start ;          
    }

    .footerlist1 {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 200px;
      color: white;
      margin-top: 50px;

      @media (max-width: 769px) {
             margin-left: 117px;  
      }      

      @media (max-width:481px) {
       margin-left: 30px;        
      }
    
      h1 {
        font-size: 25px;
      }
      
    }

    .footerlist2 {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      color: white;
      height: 200px;
      margin-top: 30px;
      margin-left: 100px;

      @media (max-width:481px) {
       margin-left: 35px;        
      }
    
      h1 {
        font-size: 25px;
    
      }
    }
 }
}

// aq damtavrda footer $$$ //

// aq mtavrdeba index - i ~~ //


// aq iwyeba contact - i ~ //

 main {
  .contact {
    background-image: url(../img/background.png);
      width: 1519px;
      height: 400px;
      margin-top: 88px;
      background-color:rgb(6, 39, 40) ;

      @media (max-width: 769px) {
        width: 751px;
        }  
        @media (max-width:481px) {
         width: 481px;      
        }  
      
  
      img {
        width: 1519px;
      height: 400px;
      
      }
  
      h1 {
          width: 490px;
          font-size: 35px;
          color: white;
          display: flex;
          justify-content: center;
          margin-top: 100px;

          @media (max-width:481px) {
           font-size: 30px;    
          }
        
      }
      .contact1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 500px;

        @media (max-width: 1281px) {
          margin-left: 410px;
       }

       @media (max-width: 769px) {
           margin-left: 120px;
       }  
       @media (max-width:481px) {
            margin-left: 0px;   
       }
      
      }
      
      
  }
  .mainrunner {
    display: flex;
    @media (max-width:481px) {
        flex-wrap: wrap;
 }

    .runner2 {
      width: 400px;
      height: 470px;
         background-image: url(../img/background.png) ; 
         background-color: #699faf;
         margin-top: 120px;
         margin-left: 200px;
         display: flex;

         @media (max-width: 769px) {
            margin-left: 0px;
         }  

         @media (max-width:481px) {
            margin-left: 21px;
         }
        
    
      img {
        width: 400px;
        height: 450px;
        margin-top: 50px;
        margin-left: 50px;

        @media (max-width: 769px) {
             margin-left: 30px;
        }  
      }
    }

     section {
      .runner3 {
        display: flex;
        width: 400px;
        flex-direction: column;
        margin-top: 200px;
        margin-left: 200px;

        @media (max-width: 769px) {
             margin-left: 63px;
        }  

        @media (max-width:481px) {
           margin-left: 93px;
           margin-top: 85px;
        }
      
        h1 {
          font-size: 25px;
          margin-bottom: 20px;

          @media (max-width: 769px) {
                 width: 300px;
          }  
        }

        p {
          @media (max-width: 769px) {
              width: 300px;
          }  
        }
        
        
      }

      .icons2 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 200px;
        height: 250px;

        @media (max-width: 769px) {
            margin-left: 75px;
        }  

        @media (max-width:481px) {
         margin-left: 105px;
        }
       

        .mini-icons {
          display: flex;
          color: #7A9CA5;
        
          h1 {
            margin-left: 20px;
            color: black;
            display: flex;
            flex-direction: column;
            
          }
        
          i {
            margin-top: 10px;
            border: 12px solid lightcoral;
            border-radius: 100% 0% 100% 0%  ;
          }
        
        
          h3 {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
          }
        
          a {
            color: #7A9CA5 ;
          }

          .icon2 {
            display: flex;
            flex-direction: column;

            
          }
        }
      }
     }
  }


  .contactend {
    background-color: #EBF3F5;
    width: 1519px;
     height: 800px;
     margin-top: 150px;

     @media (max-width:481px) {
      width: 481px;  
     }


     .contactend1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      @media (max-width: 1281px) {
        margin-right: 100px;
     }
     @media (max-width: 769px) {
        margin-right: 700px;
     }  

     @media (max-width:481px) {
      margin-right: 0px;  
     }
     
      
   
      h1 {
       font-size: 30px;
       margin-bottom: 20px;
       margin-top: 50px;
      }
   }

   .contactreg {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: white;
    height: 500px;
    margin-top: 100px;
    margin-left: 450px;
    width: 600px;
    border: 3px solid cadetblue;

    @media (max-width: 1281px) {
      margin-left: 400px;
   }

   @media (max-width: 769px) {
      margin-left: 110px;  
   }  

   @media (max-width:481px) {
    margin-left: 30px;
    width: 400px;
    height: 400px;    
    margin-top: 70px;
   }
  
    
  }

  
#contactreg2 {
  width: 500px;
    height: 50px;
    border: 3px solid #5C8692;
    background-color:white;
    margin-left: 50px;

    @media (max-width:481px) {
     width: 300px;   
    }

}

#description {
  width: 500px;
  margin-left: 50px;
  border: 3px solid #5C8692;
  background-color:white;
  resize: none;

  @media (max-width:481px) {
   width: 300px;     
  }
}


#send {
  width: 220px;
    height: 40px;
    border-color: #5C8692;;
    background-color:white;
    margin-top: 10px;
    margin-left: 180px;
    cursor:pointer ;

    &:hover {
       background-color: $bg-color;
       
    }

    @media (max-width:481px) {
     margin-left: 80px;   
    }
}
  
  
  }
 }

// aq mtavrdeba contact - i ~~ //

//aq iwyeba about - i ~ //

main {
   .whatuget {
    
        .whatugeth1 {

      h1 {
          display: flex;
          justify-content: center;
          font-size: 32px;
          margin-top: 100px;
          margin-bottom: 50px;
      }
    }
    
    .whatuget2 {
      display: flex;
      justify-content: center;
      margin-top: 40px;

      @media (max-width: 1281px) {
        margin-top: 80px;
     }
      
      .whatugetimgs {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 100px;
        height: 400px;
        @media (max-width: 1281px) {
          margin-left: 90px;
       }
        img {
          width: 80px;
          height: 80px;
          border: 3px solid cadetblue;
          
        }
      }

      .whatugettxt {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .hlife {
          h1 {
            margin-top: 30px;
          }
        }

        .hlife2 {
          h1 {
            margin-bottom: 20px;
          }
        }

        div {
          width: 300px;
          margin-left: 100px;
                 
        }

        h1 {
        font-size: 18px;
        
        
          
        }

       
      }

    }
         
         
      }

      .aboutmain {
        background-color: #EBF3F5;
        width: 1519px;
        height: 600px;
        display: flex;
        margin-top: 150px;

        @media (max-width: 769px) {
              width: 751px;
        }  
        @media (max-width:481px) {
          width: 481px;     
        } 
     
      
        div {
          display: grid;
          place-items: center;
      
        .aboutmaindiv {
          width: 900px;
          height: 350px;
          background-color: #1E2C30;
          grid-area: 1/1;
          margin-left: 300px;

          @media (max-width: 1281px) {
            margin-left: 220px;
         }

         @media (max-width: 769px) {
                 margin-left: 0px;
         }  

         @media (max-width:481px) {
          width: 300px;
          height: 350px;     
         }

          h1 {
            color: white;
            font-size: 30px;
            margin-left: 340px;

            @media (max-width: 769px) {
                   margin-left: 240px;
            }  

            @media (max-width:481px) {
             margin-left: 0px;
             font-size: 20px;  
            }
          }
          p {
            width: 200px;
            color:#5C8692;
            margin-left: 350px;
            margin-bottom: 100px;

            @media (max-width: 769px) {
                   margin-left: 250px;
            }  

            @media (max-width:481px) {
             margin-left: 39px;  
            }
          }
        
      }
      img {
        width: 370px;
        height: 500px;
        grid-area: 1/1;
        margin-right: 120px;

        @media (max-width: 769px) {
              margin-right: 450px;
        }  

        @media (max-width:481px) {
         width: 240px;
         height: 415px;      
        }
      
      }
    }
         
    
    }


    .fitmain {
        margin-top: 150px;
       
      h1 {
        font-size: 35px;
        display: flex;
        justify-content: center;
        @media (max-width: 769px) {
           font-size: 25px;
        }  
        @media (max-width: 481px) {
          margin-left: 35px;
        }  

      }

      img {
        width: 200px;
        height: 200px;
        border: 1px solid white;
        border-radius: 14px;
         margin-left: 110px;
      }

      .fitmembers {
        display: flex ;
        margin-top: 100px;
        justify-content: space-evenly;
        flex-wrap: wrap;

       div {
        @media (max-width: 769px) {
           margin: 30px;
        }  
       }
        
        h1 {
          font-size: 25px;
          display: flex;
          justify-content: center;
          margin-top: 20px;
        }
  

        p {
          width: 400px;
          margin-left: 20px;
        }

        h3 {
          color: #58692C;
          font-size: 15px;
          display: flex;
          justify-content: space-evenly;
          margin-bottom: 18px;
        }

         .abouticon {

          margin-left: 150px;
          margin-top: 50px;
           i {
            margin: 10px;
            &:hover {
              font-size: $font-size;
             
             }
             
           }

           
         }
       }
    }

    .mainwhatwearedoing {
      background-color: #EBF3F5;
      width: 1519px;
       height: 600px;
       margin-top: 150px;
       display: flex;
       flex-direction: column;

       @media (max-width: 769px) {
         width: 751px;
       }  
       
       
       .whatwearedoingh1 {
        margin-left: 500px;
        font-size: 40px;
        margin-top: 100px;

        @media (max-width: 1281px) {
          margin-left: 430px;
       }

       @media (max-width: 769px) {
        margin-left: 140px;
       }  
       @media (max-width:481px) {
        font-size: 25px;
        margin-left: 75px;   
        margin-top: 50px;    
       }

       
      }

      .whatwearedoing {
        display: flex;
      margin-top: 100px;

      .whatwearedoingtxt {
        margin-right: 50px;
       margin-left: 300px;
       width: 400px;
       background-color: white;
       margin-bottom: 2px;
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;

       @media (max-width: 1281px) {
        margin-left: 250px;
     }

     @media (max-width: 769px) {
        margin-left: 0px;
     }  

     @media (max-width:481px) {
       width: 200px;         
     }
      
      
       h1 {
        margin-left: 100px;
        font-size: 20px;

        @media (max-width:481px) {
         margin-left: 0px;      
        }
       }

       li {
        margin-left: 100px;

        @media (max-width:481px) {
         margin-left: 0px;      
        }
       }
       }
      }

      .whatwearedoingtxt2 {
        width: 400px;
     background-color: white;
     display: flex;
     height: 190px;
     flex-direction: column;
     justify-content: space-evenly;

     @media (max-width:481px) {
      width: 200px;         
     }
     h1 {
      margin-left: 100px;
      font-size: 20px;
      @media (max-width:481px) {
       margin-left: 0px;        
      }
     }

     li {
      margin-left: 100px;

      @media (max-width:481px) {
       margin-left: 0px;        
      }
     }
    }
      
     .whatwearedoing1 {
      display: flex;

      .whatwearedoing2{
        display: flex;
        background-color: #1E2C30;
        width: 400px;
        margin-left: 300px;

        @media (max-width: 1281px) {
          margin-left: 250px;
       }

       @media (max-width: 769px) {
         margin-left: 0px;
       }  

       @media (max-width:481px) {
        width: 200px;       
       }
        
          img {
            margin-right: 10px;
          }
    
        h1 {
          color: white;
          display: flex;
          flex-direction: column;
          margin-bottom: 10px;
          margin-top: 25px;
        }
    
        

        .scientist1img {
          width: 50px;
          height: 50px;
          margin-top: 7px;
          margin-left: 20px;
        }

        
    
      }
       
      .whatwearedoing3 {
        display: flex;
        background-color: #1E2C30;
        width: 400px;
        margin-left: 50px;

        @media (max-width:481px) {
         width: 200px;      
        }
        
          img {
            width: 50px;
          height: 50px;
          margin-top: 7px;
          margin-left: 20px;
          }
    
        h1 {
          color: white;
          display: flex;
          flex-direction: column;
          margin-bottom: 10px;
          margin-top: 25px;
          margin-left: 20px;
        }
    
        

        
      }


     }
    
    }
    section {

    .follow {
      display: flex;
      justify-content: center;
       margin-top: 150px;
       @media (max-width: 1281px) {
        margin-left: 100px;
     }
     @media (max-width: 769px) {
        margin-left: 20px;
     }  

      h1 {
        font-size: 35px;
        width: 200px;

        @media (max-width:481px) {
         font-size: 20px;    
         width: 180px;  
        }
      }
      p {
        width: 300px;
        margin-bottom: 40px;
        margin-top: 20px;
        color: #58692C;

        @media (max-width:481px) {
         width: 235px;      
        }
      }

      .followicon {
        i {
          color: black;
        }
      } 
      .follow1 {
        img {
          width: 300px;
          height: 400px;
          margin-right:50px ;

          @media (max-width:481px) {
           width: 200px;
           height: 300px;    
          }
        }


      }
      .follow2 {
        display: flex;
        flex-direction: column;

        @media (max-width:481px) {
         margin-top: 27px;      
        }
      img {
        width: 400px;
        height: 300px;
        margin-bottom: 25px;
        @media (max-width:481px) {
         width:200px ;
         height:150px ;      
        }
      }
    }

    
  }
  #follow {
    width: 100px;
    height: 30px;
    background-color: #1E2C30;
    color: white;
    margin-left: 700px;
    margin-top: 20px;
    margin-bottom: 100px;
    cursor: pointer;

    &:hover {
      width: 105px;
      height: 35px;
    }

    @media (max-width: 1281px) {
      margin-left: 620px;
   }
   @media (max-width: 769px) {
      margin-left: 320px;  
   }  

   @media (max-width:481px) {
    margin-left: 186px;           
   }
   }
}


.Services {
  margin-bottom: 100px;
  
 

  .Servicestxt {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 100px;
    flex-direction: column; 
    align-items: center;
    

   

    h1{ 
         font-size: 40px;  

         @media (max-width:481px) {
          font-size: 20px;     
         }
       }

       h3 {
        color:#5C8692;
       }
    }

    .Servicespic1 {
      display: flex;
      border-top: 2px solid #555555;

      .miniservpic1 {

        margin-left: 350px;
        margin-top: 20px;
        display: inline-block;

        @media (max-width: 1281px) {
          margin-left: 250px;
       }

       @media (max-width: 769px) {
        margin-left: 0px;
       }  
   
        img {
         width: 400px;
         height: 410px;
         border: 25px solid #5C8692;

         @media (max-width:481px) {
          width: 300px;
          height: 350px;     
         }
        }

     }

     .list {  
      margin-top: 100px;
      display: flex;
      flex-direction: column; 
    justify-content: center;
    justify-content: space-around;
    margin-left: 100px;
    @media (max-width:481px) {
           font-size: 14px;
           margin-left: 10px;
           margin-top: 40px;    
    }
    

        
    #Submit2 {
      width: 120px;
      height: 40px;
      border-color: #5C8692;;
      margin-left: 30px;
      cursor: pointer;

      &:hover{
        background-color: $bg-color;
      }

      @media (max-width:481px) {
        margin-left: 0px;           
      }
    }
      }


    }
    
    .Servicespic2 {
      display: flex;
      height: 430px; 
      border-bottom: 2px solid #555555;
      
     
      .list2 {
        display: flex;
        margin-top: 10px;
        margin-left: 350px;
        flex-direction: column;
        justify-content: center;
      justify-content: space-around;
      @media (max-width: 1281px) {
        margin-left: 250px;
     }

     @media (max-width: 769px) {
        margin-left: 10px;
     }  

     @media (max-width:481px) {
      font-size: 14px;
      margin-left: 4px;         
     }

      #Submit2 {
        width: 120px;
        height: 40px;
        border-color: #5C8692;;
        margin-left: 50px;
        cursor: pointer;

        &:hover{
          background-color: $bg-color;
        }
       
    
      }
    
      }
      .miniservpic2 {
        display: inline-block;
        margin-left: 192px;

        @media (max-width:481px) {
         margin-left: 0px;      
        }
      
    
        img {
          width: 400px;
          height: 410px;
          border: 25px solid #5C8692;
          
          @media (max-width: 769px) {
             width: 380px;
             
          }  

          @media (max-width:481px) {
           width: 300px;
           height: 350px;    
          }
         }
      }
     }

     .lastservpic {
      display: flex;
      border-bottom: 2px solid #555555;
      height: 490px;

      .miniservpic1 {

        margin-left: 350px;
        margin-top: 20px;
        display: inline-block;

        @media (max-width: 1281px) {
          margin-left: 250px;
       }

       @media (max-width: 769px) {
        margin-left: 0px;
       }  
   
        img {
         width: 400px;
         height: 450px;
         border: 25px solid #5C8692;

         @media (max-width:481px) {
          width: 300px;
          height: 350px;     
         }
        }
      }
        
      .list {  
        margin-top: 100px;
        display: flex;
        flex-direction: column; 
      justify-content: center;
      justify-content: space-around;
      margin-left: 100px;


      @media (max-width:481px) {
       margin-left: 10px;
       margin-top: 40px;
       font-size: 14px;        
      }
          
      #Submit2 {
        width: 120px;
        height: 40px;
        border-color: #5C8692;;
        margin-left: 30px;
        cursor: pointer;

        &:hover{
          background-color: $bg-color;
        }

        @media (max-width:481px) {
         margin-left: 0px;      
        }
      }
        }

    }

} 

  }







  // fixed ~ //

  #fixed {
    position: fixed ;
    z-index: 1;
    width: 1519px;

    @media (max-width: 1281px ){
      width: 1280px;
    }

    @media (max-width: 481px) {
      width: 481px;             
    }
    .overlay {
      position: absolute;
      width: 100%;
      height: 90px;
      background-color:#5b777e;
      opacity: 0.5;
      @media (max-width: 769px) {
        height: 120px;
     }
     
    }

      
  }

  // fixed ~~ //




 // aq iwyeba news.html ~ //
 
 main {
  .news {

    margin-top: 200px;

    @media (max-width: 1281px) {
      margin-left: 50px;
   }

   @media (max-width: 769px) {
      margin-left: 0px;  
   }  

    


    .news-imgs {
      display: flex;
      justify-content: space-evenly;
      margin-top: 100px;
   
     img {
       
       width: 220px;
       height: 200px;
       

       @media (max-width:481px) {
        width: 145px;
        height: 167px;       
       }
     }
   }
    
   .news-description {
    display: flex;
    justify-content: space-evenly;
    
  
    div {
      background-color: #c9c9c9;
      width: 220px;


      @media (max-width:481px) {
       width: 145px;        
      }
    }
  
    h1 {
      margin-top: 10px;
      font-size: 18px;
      display: flex;
      justify-content: center;

      @media (max-width:481px) {
       font-size: 14px;
       margin-left: 11px;

      }
    
    }
  
    p {
      margin-top: 10px;
      margin-left: 20px;
  }
  
  }

  #submit3 {
    margin-left: 700px;
    margin-top: 50px;
    width: 120px;
      height: 40px;
      border-color: #5C8692;
      margin-bottom: 150px;
      cursor: pointer;

      &:hover{
        background-color: $bg-color;
      }

      @media (max-width: 1281px) {
        margin-left: 550px;
     }

     @media (max-width: 769px) {
        margin-left: 310px;
        
     }  

     @media (max-width:481px) {
       margin-left: 175px;         
     }


     
  }
  
   }
 }


 